* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

a {
  text-decoration: none;
  color: #333d51;
}

/* table styling */

table {
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
}

table tr th,
table tr td {
  padding: 0.5rem;
  text-align: center;
}

thead {
  background-color: #333d51;
}

thead tr th {
  color: white !important;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* end table styling */

/*Recaptcha*/
.recaptcha {
  width: 100% !important;
  margin-bottom: 1.5rem;
}
/*End Recaptcha*/

/* CKEditor */
.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 160px;
}
/* End CKEditor */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #cbd0d8;
}

::-webkit-scrollbar-track {
  background: #333d51;
}
/* End custom scrollbar */

canvas {
  direction: ltr !important;
}

.category__button {
  position: fixed !important;
  max-width: 100% !important;
}

.image__preview {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
}
@media only screen and (max-width: 900px) {
  * {
    max-width: 100% !important;
  }
  button:not(#menu__btn, .icon__btn) {
    width: 100% !important;
    margin-bottom: 1.5rem !important;
  }
  .icon__btn {
    margin-top: -20px !important;
  }
  .ck {
    max-width: 100vh !important;
  }
  .category__button {
    position: relative !important;
    width: 100% !important;
  }
}
