* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*Recaptcha*/
.recaptcha {
  width: 100% !important;
  margin-bottom: 1.5rem;
}
/*End Recaptcha*/

/* CKEditor */
.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 160px;
}
/* End CKEditor */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}
/* End custom scrollbar */

canvas {
  direction: ltr !important;
}

@media only screen and (max-width: 900px) {
  * {
    max-width: 100% !important;
  }
  .ck {
    max-width: 100vh !important;
  }
}
